// _typography.scss


.containerPadding {
  padding: 0 10px !important;
}
.websiteBgDark {
  background: rgba(43, 38, 38, 0.93);
  //margin-top: 75px;
  p,span,h1,h2,h3,h4,h5,a,li {
    color:  #ececec;
  }

  p, span, button {
    font-family: sans-serif;
  }

}
.websiteBgWhite {
  background: white;
    p,span,h1,h2,h3,h4,h5,a,li {
    color:  black;
    }
  img {
    border-radius: 8px;
  }
  a {text-decoration: none; color: black;}
}
.paragraph {
  p {
    font-family: 'Georgia, serif';
    font-size: 1rem;
    line-height: 1.6;
    color: $text-color;
  }
}
 
.imageCover {
    max-width: 100%;  
    object-fit: cover;
    width: 100%;
    //height: auto;
}
.imageContain {
  max-width: 100%;
  object-fit: contain;
  width: 100%;
  //height: auto;
}
.imageContainGallery {
  max-width: 100%;
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.orangeBorder {
  display: inline-block;
  border-bottom: 2px solid #ea8624;
  padding-bottom: 5px;
}

/// Mobile Headings
.h1Mobile,.h2Mobile,.h3Mobile,.h4Mobile,.h5Mobile,.h6Mobile, .h1Desktop,.h2Desktop,.h3Desktopm.h4Desktop,.h5Desktop {
  font-weight: 600;
}
.h1Mobile {
  font-size: $font-size-h1-mobile;
  font-family: "Barlow-Condesend";
  margin: 24px 0;
  color: white;
}
.h2Mobile {
  font-size: $font-size-h2-mobile;
  margin: 20px 0;
  color: white;
}
.h3Mobile {
  font-size: $font-size-h3-mobile;
  margin: 16px 0;
  color: white;
}
.h4Mobile {
  font-size: $font-size-h4-mobile;
  margin: 12px 0;
  color: white;
  font-family: sans-serif;
}
.h5Mobile {
  font-size: $font-size-h5-mobile;
  margin: 8px 0;
  color: white;
  font-family: sans-serif;
}
.h6Mobile {
  font-size: $font-size-h6-mobile;
  margin: 8px 0;
  color: white;
  font-family: sans-serif;
}

/// Desktop Headings
.h1Desktop {
  font-size: $font-size-h1-desktop;
  margin: 32px 0;
  color: black;
}
.h2Desktop {
  font-size: $font-size-h2-desktop;
  margin: 28px 0;
  color: black;
}
.h3Desktop {
  font-size: $font-size-h3-desktop;
  margin: 24px 0;
  color: black;
}
.h4Desktop {
  font-size: $font-size-h4-desktop;
  margin: 20px 0;
  font-family: sans-serif;
  color: black;
}
.h5Desktop {
  font-size: $font-size-h5-desktop;
  margin: 16px 0;
  color: black;
  //font-family: sans-serif;
}