// _typography.scss


.websiteBgDark {
  background: rgba(30, 27, 27, 0.93);
}
.websiteBgWhite {
  background: white;
}
.paragraph {
  p {
    font-family: 'Georgia, serif';
    font-size: 1rem;
    line-height: 1.6;
    color: $text-color;
  }
}
 
.imageCover {
    max-width: 100%;  
    object-fit: cover;
    width: 100%;
    //height: auto;
}
.imageContain {
  max-width: 100%;
  object-fit: contain;
  width: 100%;
  //height: auto;
}
.imageContainGallery {
  max-width: 100%;
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.orangeBorder {
  display: inline-block;
  border-bottom: 2px solid $orange-border;
  padding-bottom: 5px;
}

/// Mobile Headings
.h1Mobile,.h2Mobile,.h3Mobile,.h4Mobile,.h5Mobile, .h1Desktop,.h2Desktop,.h3Desktopm.h4Desktop,.h5Desktop {
  font-weight: 600;
}
.h1Mobile {
  font-size: $font-size-h1-mobile;
  margin: 24px 0;
  color: white;
}
.h2Mobile {
  font-size: $font-size-h2-mobile;
  margin: 20px 0;
  color: white;
}
.h3Mobile {
  font-size: $font-size-h3-mobile;
  margin: 16px 0;
  color: white;
}
.h4Mobile {
  font-size: $font-size-h4-mobile;
  margin: 12px 0;
  color: white;
}
.h5Mobile {
  font-size: $font-size-h5-mobile;
  margin: 8px 0;
  color: white;
}

/// Desktop Headings
.h1Desktop {
  font-size: $font-size-h1-desktop;
  margin: 32px 0;
}
.h2Desktop {
  font-size: $font-size-h2-desktop;
  margin: 28px 0;
}
.h3Desktop {
  font-size: $font-size-h3-desktop;
  margin: 24px 0;
}
.h4Desktop {
  font-size: $font-size-h4-desktop;
  margin: 20px 0;
}
.h5Desktop {
  font-size: $font-size-h5-desktop;
  margin: 16px 0;
}